<h2>Latests Posts:</h2>
<br/>
<% @results.each do |post| %>
	<p><%=post['content']%>
	<br/>
	<br/>
	Date Added: <%=post['created_date']%>
	<br/>
	<br/>
	<a href="/details/<%=post['id']%>">Comments</a>
	</p>
	<hr>
<% end %>
