<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>
<div>
  <h1>Barbershop</h1>
  <p>Welcome to barbershop</p>
  <p id="slogan">We're Open</p>
  <p>Hello, Everyone!</p>
  <form action="/" method="POST">
    <table>
      <tr>
        <th>Your name:</th>
        <td><input type="text" name="user_name"></td>
      </tr>
      <tr>
        <th>Your phone:</th>
        <td><input type="text" name="phone"></td>
      </tr>
      <tr>
        <th>Date and time:</th>
        <td><input type="text" name="date_time"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit"></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
