<form>
  <div class="form-group">
    <label for="InputEmail1">Email address</label>
    <input name="email_address" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="TextArea1">Сообщение</label>
  <textarea class="form-control" rows=3></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>