<!DOCTYPE html>
<html>
	<head>
		<title>Barber Shop</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="/vendor/jquery-1.9.1.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="jquery.simplecolorpicker.js"></script>
		<script src="jquery.datetimepicker.full.min.js"></script>
		<link rel="stylesheet" href="jquery.simplecolorpicker.css">
		<link rel="stylesheet" href="jquery.datetimepicker.min.css">
		<link rel="stylesheet" href="/mine.css">
	</head>
	<body>
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Barber Shop</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/about">О Нас</a></li>
			      <li><a href="/visit">Записаться</a></li>
			      <li><a href="/showusers">Список Записавшихся</a></li>
			      <li><a href="/contacts">Контакты</a></li>
			    </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>
  </body>
</html>
