<table class="table table-striped">
	<thead>
		<tr>
			<th>Username</th>
			<th>Phone</th>
			<th>Date & Time</th>
			<th>Barber</th>
			<th>Color</th>
		</tr>
	</thead>
	<tbody>
	<tr>
			<td></td>
	</tr>
	</tbody>
</table>